@font-face {
    font-family: "ArcadeFont";
    src: url("ARCADECLASSIC.TTF");
}

@font-face {
    font-family: "GoodTiming";
    src: url("goodtimingbd.otf");
}





.cell-visible {
    
    -fx-background-size: cover;
    -fx-background-color: rgba(255, 255, 255, .7);
    -fx-padding: 0; 
    -fx-margin: 0;
    -fx-border-color: #ffffff;
    -fx-border-radius: 0px;

}

.trapcell-visible {
    
    -fx-background-size: cover;
    -fx-background-color: rgba(255, 255, 255, .7);
    -fx-padding: 0; 
    -fx-margin: 0;
    -fx-border-color: #ffffff;
    -fx-border-radius: 0px;

}

.cell-invisible {
    
    -fx-background-size: cover;
    -fx-background-color: rgba(255, 255, 255, .5);
    -fx-padding: 0; 
    -fx-margin: 0;
    -fx-border-color: #ffffff;
    -fx-border-radius: 0px;

}

.health-bar {

	-fx-accent : chartreuse;
	
	
}

.health-bar .bar {
    -fx-background-radius: 10;
    -fx-border-width: 0;
    -fx-padding: 4;
}

.health-bar .track {
    -fx-background-radius: 10;
    -fx-border-width: 0;
    -fx-padding: 0.5;
    
}

.health-bar .track .fill {
    -fx-background-radius: 10;
    -fx-padding: 0.5;
   
}

.health-bar .track .background {
    -fx-background-radius: 10;
    -fx-padding: 0.5;
}

.health-bar .track .border {
    -fx-background-radius: 10;
    -fx-padding: 0.5;
}

.health-bar .track .bar {
    -fx-background-radius: 10;
}

.health-bar .track .background .bar {
    -fx-background-radius: 10;
    -fx-padding: 0.5;
}

.health-bar .track .border .bar {
    -fx-background-radius: 10;
    -fx-width: 0;
}

.pressAnyButton{
    position: absolute;
    top:50%;
    left:50;
	
}

.map {
    -fx-background-image: url('background.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.stats > .viewport {
   -fx-background-color: transparent;
}

.stats {
    -fx-background: rgba(255,255,255,0.5);
    -fx-background-color: rgba(255,255,255,0.5);
    
}

.select-hero {

	-fx-background-image: url('selectHeroSpotlight.png');
        -fx-background-repeat: no-repeat;
        -fx-background-size: cover;
	
}

.carousel-button {
	-fx-background-color: transparent;
	
}
