@font-face {
    font-family: "ArcadeFont";
    src: url("ARCADECLASSIC.TTF");
}

@font-face {
    font-family: "GoodTiming";
    src: url("goodtimingbd.otf");
}





.cell {
    
    -fx-background-size: cover;
    -fx-background-color: #806454;
    -fx-padding: 0; 
    -fx-margin: 0;

}

.health-bar {

	-fx-accent : chartreuse;
	
	
}

.health-bar .bar {
    -fx-background-radius: 10;
    -fx-border-width: 0;
    -fx-padding: 4;
}

.health-bar .track {
    -fx-background-radius: 10;
    -fx-border-width: 0;
    -fx-padding: 0.5;
    
}

.health-bar .track .fill {
    -fx-background-radius: 10;
    -fx-padding: 0.5;
   
}

.health-bar .track .background {
    -fx-background-radius: 10;
    -fx-padding: 0.5;
}

.health-bar .track .border {
    -fx-background-radius: 10;
    -fx-padding: 0.5;
}

.health-bar .track .bar {
    -fx-background-radius: 10;
}

.health-bar .track .background .bar {
    -fx-background-radius: 10;
    -fx-padding: 0.5;
}

.health-bar .track .border .bar {
    -fx-background-radius: 10;
    -fx-width: 0;
}

.pressAnyButton{
    position: absolute;
    top:50%;
    left:50;
	
}

.map {
    -fx-background-image: url('mapBackground.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}